<div id="component">
    <h1 id="title">Astronomy</h1>
    <div id="pictures-container">
        <div id="four-square-container">
            <img class="square-image" src="assets/images/astronomy/disk.jpg" />
            <img class="square-image" src="assets/images/astronomy/enc.jpg" />
            <img class="square-image" src="assets/images/astronomy/voyager.jpg" />
            <img class="square-image" src="assets/images/astronomy/palebluedot.jpg" />
        </div>
        <app-carousel id="carousel" [slideShowSpeed]="9000" [buttonsOn]="true" [carouselItems]="images"></app-carousel>
    </div>
    <h3 id="image-credit">Courtesy NASA/JPL-Caltech</h3>
</div>