<div id="astronomy">
    <h1>Astronomy</h1>
    <div id="pictures-container">
        <div id="four-square-container">
            <img class="square-image" src="assets/images/astronomy/disk.jpg" />
            <img class="square-image" src="assets/images/astronomy/enc.jpg" />
            <img class="square-image" src="assets/images/astronomy/voyager.jpg" />
            <img class="square-image" src="assets/images/astronomy/perseverance.jpg" />
        </div>
        <app-carousel [adjustImage]="true" [buttonsOn]="true" [carouselItems]="images"></app-carousel>
    </div>
    <span id="image-credit">Courtesy of NASA/JPL-Caltech</span>
</div>