#component {
  width:100%;
  position: relative;
}

#image-credit {
  z-index: 80;
  position: absolute;
  font-size: max(.9vw, 12px);
  color:white;
  bottom:8px;
  right:10px;
}

#pictures-container {
  display:flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  width:100%;
  padding-bottom:5px;
}

#four-square-container {
  box-sizing: border-box;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right:5px;
}

.square-image {
  box-sizing: border-box;
  height:50%;  
  width:50%;
  padding-left:5px;
  padding-top:5px;
  object-fit: cover;
}

h1 {
  z-index: 80;
  position: absolute;
  font-size: max(2.5vw, 30px);
  top:2vh;
  right:calc(.5vw + 10px);
  text-align: right;
  color:white;
}

app-carousel {
  height:50vw;
  width:100%;
  box-sizing: border-box;
  padding-top:5px;
  padding-left:5px;
  padding-right:5px;
}

@media screen and (min-width: 1000px) {
  #pictures-container {
    flex-direction: row;
  }
  #four-square-container {
    width: 35%;
    padding-right:0px;
  }
  app-carousel {
    height:auto;
    width:65%;
  }
}