#astronomy {
  width: 100%;
  position: relative;
}

#image-credit {
  z-index: 70;
  position: absolute;
  font-size: .6em;
  color: white;
  bottom: 2px;
  right: 7px;
}

#pictures-container {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 5px;
  row-gap: 5px;
  column-gap: 5px;
  box-sizing: border-box;
}

#four-square-container {
  display: grid;
  row-gap: 5px;
  column-gap: 5px;
  grid-template-columns: auto auto;
}

.square-image-container {
  position: relative;
}

.square-image-container span {
  position: absolute;
  z-index: 1;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.904); 
  text-align: center;
  color: white;
  left: 2%;
}

.image-title {
  padding: 10px;
  border-radius: 6px;
  font-size: medium;
  top: 2%;
}

.image-credit {
  padding: 5px;
  border-radius: 4px;
  font-size: xx-small;
  bottom: 2%;
}

.square-image-container:hover span {
  opacity: 1;
  transition: all .8s;
}

.square-image {
  height: 100%;  
  width: 100%;
  object-fit: cover;
}

h1 {
  z-index: 70;
  position: absolute;
  right: calc(.5vw + 10px);
  text-align: right;
  color: white;
}

#carousel-container {
  height: auto;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

@media screen and (min-width: 1150px) {
  #pictures-container {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  #four-square-container {
    width: 35%;
  }
  #carousel-container {
    width: 65%;
  }
}