#app-recommended {
  padding: 10px;
  min-height:70px;
  text-align: center;
  background-color: white;
  margin-bottom: 2.5vh;
  box-shadow:
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 5.3px 5.9px rgba(0, 0, 0, 0.072),
  0 8.8px 8.4px rgba(0, 0, 0, 0.086),
  0 5px 5px rgba(0, 0, 0, 0.12);
}
  
.recommended-book {
  display: inline-block;
  font-size: 1.1em;
  white-space: nowrap;
  margin: 5px 10px 5px 10px;
  color:black;  
}