#top-nav .active-link {
  border-bottom: solid;
}

#top-nav .active-link:hover {
  transform: none;
}

#side-nav {
  box-shadow: 1px 1px rgb(219, 219, 219);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display:flex;
  flex-direction: column;
  background-color:rgb(255, 255, 255);
  z-index: 99;
}

#side-nav a {
  color:rgb(21, 27, 32);
  padding:3vh 20px 3vh 20px;
  text-align: center;
  text-decoration: none;
  font-size:1.3em;
}

#side-nav a:hover {
  color: var(--accent-dark);
  background-color: rgba(128, 128, 128, 0.233);
} 

#router-wrapper {
  overflow: auto;
  max-height: calc(100vh - var(--nav-height));
}

#top-nav .menu-icon {
  display: none;
  color:white;
  cursor: pointer;
  outline: none;
} 

#top-nav {
  z-index: 98;
  width:100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: var(--nav-height);
  background-color:rgba(29, 34, 37, 0.952);
}

@media screen and (max-width: 600px) {
  #top-nav a:not(:first-child) {display: none;}
  #top-nav { 
    justify-content: space-between;  
  }
  #top-nav .menu-icon {
    display:block;
    margin-right: 3vw;
  }
  #side-nav {
    display:flex;
  }
}

#top-nav a {
  text-decoration: none;
  font-size:1.3em;
  margin:20px;
  padding-bottom:8px;
  color:white;
}

#top-nav a:hover {
    transform: scale(1.1);
}

button {
  background-color:transparent;
  border: none;
}

button:hover {
  transform: scale(1.1);
}

svg {
  width:30px;
  height:30px;
  fill:white;
} 