# See http://help.github.com/ignore-files/ for more about ignoring files.

#publish
build

#backend
backend/public/*
!backend/public/index.html
backend/keys/

# compiled output
frontend/dist
frontend/tmp
frontend/out-tsc

# dependencies
node_modules/


# images
frontend/src/assets/images/*

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDE - VSCode
.vscode/
.history/*
*.code-workspace

# misc
frontend/.sass-cache
frontend/connect.lock
frontend/coverage
frontend/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
frontend/typings

# System Files
.DS_Store
Thumbs.db
