#component { 
    display:flex;
    flex-direction: column;
    position: relative;
    min-height: calc(100vh - var(--nav-height));
}

#content {
    padding-left:7vw;
    padding-right:7vw;
    margin:3vh auto 3vh auto;
    max-width: 900px;
    margin-bottom: 65px;
}

#name-span {
    color:rgb(15, 97, 165);
}

h1{
    margin-top:4vh;
    font-size:1.8em;
    text-align: center;    
}

p {
    font-size:1.6em;  
    margin-bottom: 3vh;
    line-height: 1.4;
    text-align: left;
}

a {
    text-decoration: none;
    color: rgb(12, 80, 136);
}

a:hover {
    text-decoration: underline;
}

footer {
    height:auto;
    position: absolute;;
    bottom:0;
    width:100%;
    background-color: rgb(255, 255, 255);
}

#social-media-buttons {
   margin:auto;
   width: fit-content;
   margin-bottom:10px;
}

#social-media-buttons img {
    width:40px;
    margin-left:12.5px;
    margin-right:12.5px;
    cursor: pointer;
}

#social-media-buttons img:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 500px) {
    p {
        font-size: 1.4em;
    }
    h1 {
        font-size: 1.6em;
    }   
 }