#home { 
    min-height: calc(100vh - var(--nav-height));
    display:flex;
    flex-direction: column;
    position: relative;
}

#info {
    display:flex;
    flex-direction: column;
    row-gap: 15px;
    padding-left:7vw;
    padding-right:7vw;
    margin: 20px auto;
    max-width: 900px;
}

#name-span {
    color:rgb(15, 97, 165);
}

h1{
    margin-top: 30px;
    font-size: 1.8em;
    text-align: center;    
}

p {
    font-size: 1.6em;  
    line-height: 1.4;
    text-align: left;
}

a {
    text-decoration: none;
    color: var(--accent-dark);
}

a:visited {
    color: rgb(66, 22, 117);
}

a:hover {
    text-decoration: underline;
}

#social-media-buttons {
   margin: 0 auto;
   width: fit-content;
}

#social-media-buttons img {
    width: 40px;
    margin-left: 12.5px;
    margin-right: 12.5px;
    cursor: pointer;
}

#social-media-buttons img:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 500px) {
    p {
        font-size: 1.4em;
    }
    h1 {
        font-size: 1.6em;
    }   
 }