<div #target id="movies">
    <h1>Cinema</h1>
    <div id="menu">
        <button [ngClass]="{'selected-category-button':selectedCategory==movies}" mat-raised-button color="white"
            class="menu-button" (click)="viewFilmsOnClick()">
            My Favorite Films
        </button>
        <button [ngClass]="{'selected-category-button':selectedCategory==directors}" mat-raised-button color="white"
            class="menu-button" (click)="viewDirectorsOnClick()">
            My Favorite Directors
        </button>
    </div>
    <div *ngIf="selectedCategory">
        <div id="movie-details-container">
            <div *ngIf="selectedMovie" id="selected-movie">
                <iframe class="youtube-video" *ngIf="selectedMovie.name =='Annihilation'"
                    src="https://www.youtube.com/embed/89OP78l9oF0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="movies-container">
            <ng-container *ngFor="let item of selectedCategory">
                <div class="movie" [ngClass]="{'selected-movie':selectedMovie==item}"
                    (click)="onMovieClick(item, target)">
                    <span class="movie-title">{{item.name}} </span>
                    <span class="movie-detail">{{item.secondaryInfo}}</span>
                    <a class="movie-detail" [href]="item.imdbLink">View on IMDB</a>
                </div>
            </ng-container>
        </div>
    </div>
</div>