<div id="component">
    <h1>Welcome to my site!</h1>
    <div id="about-div">
        <p>Hi, my name is <span id="name-span">Matthew Potts</span>. I am currently looking for a job in software
            development. Please check out my Github profile and LinkedIn page using the links at the bottom of this
            page.</p>


    </div>

    <div id="social-media-buttons">
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/andromeda-voyager">
            <img src="assets/images/social/github.png">
        </a>

        <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/matthew-s-potts">
            <img src="assets/images/social/linkedIn.png">
        </a>
    </div>
</div>