<div id="component">
    <h1>Welcome to my site!</h1>
    <div id="about-div">
        <p>
            Hi, my name is Matthew Potts. I am currently looking for an entry level job in software
            development. Please check out my <a target="_blank" rel="noopener noreferrer"
                href="https://github.com/andromeda-voyager">Github</a> profile and
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/matthew-s-potts">LinkedIn</a>
            page.
        </p>

        <p>
            I created this website to showcase some of my skills and to share <a routerLink="/interests" routerLinkActive="active-link">more about me</a>.
            Play a game of <a routerLink="/chess" routerLinkActive="active-link">chess</a> against an AI that I am continually improving, or play against a friend.
            Visit the <a routerLink="/chess/join-game" routerLinkActive="active-link">lobby</a> to join a chess game that has already been created. 
            You might even find a game against me in there. I am always on the lookout for great books to read. Please consider 
            <a routerLink="/recommend-books" routerLinkActive="active-link">recommending</a> a book or two.
        </p>

    </div>

    <div id="social-media-buttons">
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/andromeda-voyager">
            <img src="assets/images/social/github.png">
        </a>

        <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/matthew-s-potts">
            <img src="assets/images/social/linkedIn.png">
        </a>
    </div>
</div>