<div id="science-fiction">
    <h1>Science Fiction</h1>
    <div id="books-container">
        <div [@fadeIn]='book.state' class="book-wrapper" *ngFor="let book of books">
            <a target="_blank" rel="noopener noreferrer" [href]="book.link">
                Visit Publisher's Store Page
            </a>
            <img class="book" src={{book.imageURL}}>
        </div>
    </div>
    <span class="publisher-link-wrapper" >Find these books at
        <a target="_blank" href="https://www.penguinrandomhouse.com/" rel="noopener noreferrer">
            penguinrandomhouse.com
        </a>
    </span>
</div>