<div class="chessboard" cdkDropListGroup>
    <div class="row" *ngFor="let rows of chessboardSpine; let row = index">
        <div *ngFor="let chessPiece of rows; let column = index" class="square"
            [ngClass]="{'white': (row % 2 == column % 2)}" cdkDropList (cdkDropListDropped)="drop($event, chessPiece)"
            (cdkDropListEntered)="hover($event, chessPiece)">
            <div *ngIf="isHighlighted(chessPiece)"
                class="highlighted"></div>
            <div class="chess-piece" [ngClass]="{'players-piece':chessboard[chessPiece].color === playerColor }" cdkDrag
                [cdkDragDisabled]="chessboard[chessPiece].color != playerColor"
                (cdkDragStarted)="pieceDragStarted($event, chessPiece)">
                <img *ngIf="chessboard[chessPiece].imageUrl" src={{chessboard[chessPiece].imageUrl}}
                    class="piece-image" />
                <div *cdkDragPlaceholder></div>
            </div>
            <div class="check" *ngIf="chessPiece === inCheckLocation"></div>
            <div class="valid-move" *ngIf="validMoves.has(chessPiece)"></div>
        </div>
    </div>
</div>