.carousel {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

button {
  z-index: 50;
  border: none;
  outline: 0;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.next-carousel-item  {
  display: none;
}

.arrow-button {
  height: 100%;
  width: 15%;
  color: white;
  opacity: .4;
}

.control {
  background-color: transparent;
  position: absolute;
}

.control:hover {
  opacity: .75;
  transition: opacity .8s;
}

.control:hover .arrow {
  width: 1.2em;
  height: 1.2em;
  transition: all .2s;
}

.control.next{
  right: 0;
}

.control.prev{
  left: 0;
}

.pause-play {
  height: 100%;
  width: 70%;
  opacity: 0;
}

button:active {
  transform: scale(.9);
}

.button-icon {
  height: 25%;
  width: 25%;
  margin: auto;
}

.arrow {
  font-weight: bold;
  display: inline-block;
  border-left: 0.13em solid white;
  border-bottom: 0.13em solid white;
  font-size: min(50px, 5vmin);
  width: 1em;
  height: 1em;
}

.arrow.left {
  transform: rotate(45deg);
}

.arrow.right {
    transform: rotate(225deg);
}

#image-buttons-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#image-buttons-container button:hover {
  transform: scale(1.1);
}

.image-select-button{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
  margin-right: 10px;
  margin-left: 10px;
}

.blue-button{
  background-color: var(--accent);
}

.red-button {
  background-color: rgb(255, 44, 44);
}