<div class="carousel">
    
    <button *ngIf="arrowsOn" class="control prev" (click)="onPreviousClick()">
        <span class="arrow left"></span>
    </button>

    <ng-container *ngFor="let carouselItem of carouselItems; let i = index">
        <img *ngIf="i === currentCarouselItem" [src]="carouselItem" class="carousel-item" [ngClass]="{'adjusted-image': adjustImage}" />
        <img *ngIf="i === nextCarouselItem" [src]="carouselItem" class="next-carousel-item" [ngClass]="{'adjusted-image': adjustImage}" />
    </ng-container>

    <div *ngIf="buttonsOn" id="image-buttons-container">
        <ng-container *ngFor="let carouselItem of carouselItems; let i = index">
            <button [ngClass]="{'blue-button':currentCarouselItem==i, 'red-button': isPaused && currentCarouselItem==i}" class="image-select-button"
                (click)="changeImage(i)"></button>
        </ng-container>
    </div>

    <button *ngIf="arrowsOn" class="control next" (click)="onNextClick()">
        <span class="arrow right"></span>
    </button>

</div>