<div id="component">

    <div *ngIf="!isNameSubmitted">
        <mat-card>
            <mat-form-field appearance="fill">
                <mat-label>Your Name</mat-label>
                <input matInput [(ngModel)]="recommender">
            </mat-form-field>
            <button mat-raised-button id="submit-name-button" (click)="submitName()">Submit</button>
        </mat-card>
    </div>


    <div *ngIf="isNameSubmitted" id="recommend-page">
        <div class="card" id="search-wrapper">
            <div id="search-container">
                <input [(ngModel)]="title" placeholder="Title" />
                <input [(ngModel)]="author" placeholder="Author" />
                <button mat-raised-button id="search-button" (click)="submitSearchQuery()">
                    Search
                </button>
            </div>
        </div>

        <div class="card" id="recommended-container">
            <span>Your Recommendations</span>
            <span *ngIf="recommendedBooks.length == 0">(Empty)</span>
            <span *ngIf="recommendedBooks.length == 0">
                Select a book from the search results to add it to this list.
            </span>
            <div id="recommended-books">
                <div class="recommended-book" *ngFor="let book of recommendedBooks">
                    {{book.title}}
                </div>
            </div>
        </div>

        <app-search-results [books]="books" [recommender]="recommender"></app-search-results>
    </div>
</div>