#component { 
  display:flex;
  flex-direction: column;
  width:100%;
  padding-bottom:10px;
  background-color: rgb(67, 153, 96);
  min-height: calc(100vh - var(--nav-height));
  box-sizing: border-box;
}

mat-card{
  margin-top:50px;
  width: fit-content;
  margin-left:auto;
  margin-right:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

#instructions {
  display: flex;
  flex-direction: column;
}

#recommend-page {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

#search-recommended-container {
  width: 90%;
  background-color: rgba(29, 34, 37, 0.952);
  margin: 20px auto;
  box-shadow: 
    0 3px 2px -1px rgba(0, 0, 0, 0.281), 
    0 3px 2px 1px rgba(0, 0, 0, 0.13), 
    0 3px 1px 1px rgba(0, 0, 0, 0.082), 
    -1px 0 4px 1px rgba(0, 0, 0, 0.137);
  border-radius: 4px;
  color:white;
}

#recommended-container {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  align-self: flex-start;
  min-height: 70px;
  text-align: center;
  margin-bottom: 2.5vh;
  font-size:small;
}

.recommended-book {
  display: inline-block;
  font-size: 1.1em;
  white-space: nowrap;
  margin: 5px 10px 5px 10px;
}

#search-container {
  box-sizing: border-box;
  width:100%;
  height:125px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding:10px;
}

#search-container input:focus {
  outline:none;
  border: 2px solid  var(--accent-light);
  border-radius: 2px;
}

#search-container input {
  background-color: rgb(236, 236, 236);
  box-sizing: border-box;
  font-size: medium;
  padding: 5px;
  border: 1px solid black;
  max-width: 300px;
  width:30%;
  margin-right: 8px;
  min-width: 100px;
  height:40px; 
}
  
#search-button {
  max-width: 30%;
  height:40px;
  min-width: 200px; 
}

#search-button:hover {
  opacity: .85;
}

button {
  background-color: var(--accent);
  color:white;
}

#submit-name-button {
  font-size: 1.2em;
  height: 2.7em;
  margin-top:1.5vh;
  width: 7em;
}

#submit-name-button:hover {
  opacity: .85;
}