<div id="component">

    <div *ngIf="!isNameSubmitted">
        <mat-card>
            <mat-form-field appearance="fill">
                <mat-label>Your Name</mat-label>
                <input matInput [(ngModel)]="recommender">
            </mat-form-field>
            <button mat-raised-button id="submit-name-button" (click)="submitName()">Submit</button>
        </mat-card>
    </div>


    <div *ngIf="isNameSubmitted"  id="recommend-page" >
        <div id="search-recommended-container">
            <div id="search-container">
                <input [(ngModel)]="title" placeholder="Title" />
                <input [(ngModel)]="author" placeholder="Author" />
                <button mat-raised-button id="search-button" (click)="submitSearchQuery()">
                    Search
                </button>
            </div>

            <div id="recommended-container">
                <h4>Your Recommendations</h4>
                <div id="instructions" *ngIf="recommendedBooks.length == 0">(Empty)
                    <span>Select a book from the results to add it to this list.</span>
                </div>
                <ng-container *ngFor="let book of recommendedBooks">
                    <div class="recommended-book">
                        {{book.title}}
                    </div>
                </ng-container>
            </div>
        </div>
        <app-search-results [books]="books" [recommender]="recommender"></app-search-results>
    </div>
</div>