#component { 
  display:flex;
  flex-direction: column;
  width:100%;
  padding-bottom:10px;
  min-height: calc(100vh - var(--nav-height));
  box-sizing: border-box;
}

mat-card{
  margin-top:50px;
  width: fit-content;
  margin-left:auto;
  margin-right:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

#recommend-page {
  width: 90%;
  max-width: 850px;
  margin: 0 auto;
}

.card {
  padding: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 
    0 2px 1px -1px rgba(0, 0, 0, 0.281), 
    0 1px 1px 0px rgba(0, 0, 0, 0.13), 
    0 1px 3px 1px rgba(0, 0, 0, 0.082), 
    -1px 0 4px 1px rgba(0, 0, 0, 0.137);
  border-radius: 4px;
  box-sizing: border-box;
  height: fit-content;
}

#search-wrapper {
  width: 100%;
  margin: 20px auto;
  color:black;
}

#recommended-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: small;
  row-gap: 1em;
  line-height: 1;
  font-size: medium;
}

#recommended-books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: .8em;
}

.recommended-book {
  display: inline-block;
  font-size: 1.1em;
  white-space: nowrap;
  margin: 5px 10px 5px 10px;
}

#search-container {
  box-sizing: border-box;
  width:100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: medium;
}

#search-container input:focus {
  outline:none;
  border-color: var(--accent);
}

#search-container input {
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(0, 0, 0);
  max-width: 300px;
  width: 30%;
  min-width: 150px;
  padding: .8em .5em;
  font-size: 1em;
 box-sizing: border-box;
}

button {
  font-size: large;
}

#search-button {
  padding: 5px;
  min-width: 30%;
}

button:hover {
  opacity: .85;
}

button {
  background-color: var(--accent);
  color:white;
}

#submit-name-button {
  margin-top: 20px;
  padding: 5px 30px;
}