#message-wrapper {
  margin:auto;
  margin-top:15px;
  width: fit-content;
  height:20px;
}

#message {
  color:red;
  font-size: larger;
}

#game-parameters {
  display: flex;
  flex-direction: column;
  width:fit-content;
  margin-left: auto;
  margin-right:auto;
}

#component {
  margin-top:50px;
  margin-bottom:10px;
}

mat-hint {
  color:red;
}

mat-radio-group {
  margin-bottom: 25px;
}
mat-radio-button {
  margin-top:15px;
  margin-right:10px;
}
  
mat-form-field , mat-checkbox  {
  margin-bottom:5px;
}

#create-game-button:hover {
  opacity: .85;
}

#waiting-screen {
  margin-top:50px;
  display:flex;
  flex-direction: column;
}

#exit-button:hover {
  opacity: .75;
}

#exit-button {
  margin: auto;
  margin-top: 30px;
  background-color: rgb(255, 0, 0);
  padding:5px;
  font-size: large;
}

#waiting-message{
  font-size:x-large;
  margin:auto;
}