#books-container-wrapper {
  margin:auto;
  max-width:800px;
}

#books-container{
  margin-top: 2vh;
  height:fit-content;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
  
#search-container input {
  width: 30%;
  margin-top:5px;
  margin-bottom:5px;
  margin-left: 4px;
  margin-right: 4px;
  flex-grow: 1;
  display:inline-block; 
}

.recommended-book {
  display:inline-flex;
  flex-wrap: nowrap;
  margin: 5px 5px 5px 5px;
  background-color: white;
  box-shadow: 0 3px 1px -2px rgba(172, 172, 172, 0.2),0 2px 2px 0 rgba(207, 207, 207, 0.14),0 1px 5px 0;
}
  
.recommended-title {
  padding: 3px 3px 3px 3px;
  font-size: small;
  display:inline-block;
  cursor: default;
  user-select: none;
  max-width: 140px;  
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-style: solid;
  border-width: .2px;
  border-color: rgb(0, 119, 255);
}

.book  {
  position: relative;
  margin:10px;
  cursor: pointer;
  box-shadow: 0 2px 4px #d6d6d6;
  background-color: white;
  border-radius: 9px 9px 0px 0px; /*The radius of the element's corners*/
  box-shadow: 0 3px 1px -2px rgba(177, 177, 177, 0.2),0 2px 2px 0 rgba(199, 199, 199, 0.14),0 1px 2px 0;
  height: 200px;
  width: 125px;
}
  
.book img {
  width:100%;
  height: 75%;
  border-radius: 8px 8px 0px 0px;   
}

.book:hover {
  transform: scale(1.1);
}
  
.selected img{   
  filter: blur(1px);
}

.recommended-tag {
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color:white;
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.5);
  height:100%;
  width: 100%;
  z-index: 10;
  visibility: hidden;
}
  
.selected .recommended-tag {
  visibility: visible;
}

.selected:hover {
  transform: none;
  cursor: default;
}
  
.book-info-container {
  width:100%;
  height: 20%;
}

.book .author {
  margin-left:1px;
  display:block;
  font-size: x-small;
  color: black;
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

.book .title {
  padding-bottom: 2px;
  margin-left:1px;
  display:block;
  font-size: x-small;
  color: black;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}
  
h3 {
  color:rgb(0, 132, 255);
  padding: 20px 20px 20px 20px;
}

.instruction {
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  z-index: 50;
  font-size: 1.2em;
  border-radius: 9px 9px 0px 0px;
  height:100%;
  width:100%;
  color:white;
}

.book:hover .instruction {
  background-color: rgba(0, 0, 0, 0.466);
  visibility: visible;
}

.selected:hover .instruction {
  visibility: hidden;
}
