#movies {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:100%;
    background-color: rgb(21, 27, 32);
    color:white;
    padding-bottom:5vh;
}

h1 {
    color: white;
    text-align: center;
}

#selected-movie {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
} 

.youtube-video {
    width:22.2vw;
    height:12.5vw;
    min-width: 355.5px;
    min-height:200px;
    margin-bottom: 2vh;
}

#menu {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 8vw;
    margin: calc(10px + 2vmax) 0;
}

.menu-button:hover {
    transform: scale(1.2);
}

.menu-button {
    background-color:rgba(14, 212, 96, 0.534);
    font-size: max(1.4vw,13px);
    height:fit-content;
    color:rgb(0, 0, 0);
    padding: 1em .7em 1em .7em;
    opacity: .6;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.65);
}

.selected-category-button {
    transform: scale(1.2);
    cursor: default;
    opacity: 1;
}

.movies-container {
    margin: 0 8vw;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    row-gap: 1em;
    column-gap: 1.4em;
    font-size: max(1.4vw, 12px);
}

.movie {
    display:flex;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    line-height:1;
    height:10em;
    width:8em;
    color:rgb(255, 255, 255);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.281);
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.65);
}

.movie:hover{
    transform: scale(1.1);
}

.movie-title {
    width:80%;
}

button:hover {
    transform: scale(1.1);    
}

.movie-detail {
    width:90%;
    margin-top:1em;
    font-size:1vw;
    font-size: max(1vw, 7px);
    display:none;
}

.selected-movie .movie-detail {
    display:block;
}

.selected-movie {
    cursor:default;
}

a {
    color: rgb(38, 111, 179);
    text-decoration: none;
}