<div #target id="cinema">
    <h1>Cinema</h1>

    <div id="menu">
        <button id="film-button" [ngClass]="{'selected-category-button':selectedCategory===movies}" mat-raised-button
            color="white" class="menu-button" (click)="viewFilmsOnClick()">
            Films
        </button>
        <button [ngClass]="{'selected-category-button':selectedCategory===directors}" mat-raised-button color="white"
            class="menu-button" (click)="viewDirectorsOnClick()">
            Directors
        </button>
    </div>

    <div *ngIf="selectedCategory">
        <div id="movie-details-container">
            <div *ngIf="selectedIndex != -1" id="selected-movie">
                <iframe class="youtube-video" *ngIf="selectedCategory[selectedIndex].name ==='Annihilation'"
                    src="https://www.youtube.com/embed/89OP78l9oF0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <div id="movies-container">
            <ng-container *ngFor="let item of selectedCategory; let i = index">
                <div class="movie" [ngClass]="{'selected-movie':selectedIndex===i}" (click)="onItemClick(i, target)">
                    <span class="movie-title">{{item.name}} </span>
                    <span class="movie-detail">{{item.secondaryInfo}}</span>
                    <a class="movie-detail" [href]="item.imdbLink">View on IMDB</a>
                </div>
            </ng-container>
        </div>

    </div>
</div>