#cinema {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:100%;
    background-color: rgb(21, 27, 32);
    color:white;
    padding-bottom: min(60px, 4vh);
}

h1 {
    text-align: center;
}

#selected-movie {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
} 

.youtube-video {
    width:22.2vw;
    height:12.5vw;
    max-width: 600px;
    max-height:337.8px;
    min-width: 300px;
    min-height:168.9px;
    margin-bottom: min(50px, 2vh);
}

#menu {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: min(60px, max(4vw, 45px));
    row-gap: 20px;
    margin: 20px 0 30px 0;
}

.menu-button:hover {
    transform: scale(1.2);
}

.menu-button {
    background-color:rgb(17, 126, 65);
    font-size: max(13px, 1.4vw);
    height:fit-content;
    color:rgb(0, 0, 0);
    padding: 1em .7em;
    opacity: .6;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.65);
}

.selected-category-button {
    transform: scale(1.2);
    cursor: default;
    opacity: 1;
}

#film-button {
    padding: 1em 1.4em;
}

#movies-container {
    margin: auto 8vw;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    row-gap: 1.3em;
    column-gap: 1.3em;
    font-size: max(13px, 1.3vw);
}

.movie {
    display:flex;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    line-height:1;
    height:10em;
    width:8em;
    max-width:158px;
    max-height:198px;
    color:rgb(255, 255, 255);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: rgba(16,20,23);
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.65);
}

.movie:hover{
    transform: scale(1.1);
}

.movie-title {
    width:80%;
}

button:hover {
    transform: scale(1.1);    
}

.movie-detail {
    width:90%;
    margin-top:1em;
    font-size:1vw;
    font-size: max(9px, min(.9vw, 18px));
    display:none;
}

.selected-movie .movie-detail {
    display:block;
}

.selected-movie {
    cursor:default;
}

a {
    color: rgb(38, 111, 179);
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    #movies-container {
      margin: auto 6vw;
    }
}

@media screen and (min-width: 1500px) {
  #movies-container {
    font-size: 18px;
    margin: auto 150px;
  }
  .menu-button {
    font-size: 22px;
  }
}