#video-games {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
}

#left-container {
    width: 100%;
    display: flex;
    flex-direction: column;
} 

h1 {
    margin-left: calc(.5vw + 10px);
    color: rgb(21, 27, 32);
}

#favorites-container {
    width: 85%;   
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row-gap: min(3.5vh, 40px);
    padding-bottom: 3vmin;
}

app-carousel {
    padding: .5vh;
    width: 100%;
    box-sizing: border-box;
}

.detail {
    text-align: center; 
    white-space: nowrap;
}

#details-container {
    width: 100%;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: auto auto;
    font-size: max(13px, min(3.5vw, 20px));
    grid-row-gap: 2.5em;
}

button {
    font-size: max(1.9vw, 1.2em);
    padding: .6em;  
}

#buttons-container {
    width: 100%;
    column-gap: min(40px, 5vw);
    row-gap: min(25px, 2vw);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.flat:hover {
    color:var(--accent-light);
}

.raised:hover{
    cursor: default;
}

.raised {
    box-shadow: 0px 5px 6px 2px rgba(0, 0, 0, 0.295); 
    background-color: white;
    transition: all .5s;
}

.flat {
    background-color: rgba(0, 0, 0, 0.075);
    color:rgb(92, 92, 92)
}

@media screen and (min-width: 1150px) {
    #left-container{
       width: 35%;
       box-sizing: border-box;
    }
    app-carousel {
        width:65%;
        height:auto;
    }
    button {
        font-size: 18px;
    }
    #details-container {
        margin-bottom: 0px;
        font-size: 17px;
    }
}
