#video-games {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
}

#left-container {
    width: 100%;
    display: flex;
    flex-direction: column;
} 

h1 {
    margin-left: calc(.5vw + 10px);
    color: rgb(21, 27, 32);
}

#favorites-container {
    width: 100%;   
    display: flex;
    margin: 1em auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    row-gap: 2.5em;
    padding-bottom: 3vmin;
}

#buttons-container {
    width: 100%;
    column-gap: 2em;
    row-gap: min(25px, 2vw);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.detail {
    text-align: center; 
    white-space: nowrap;
}

#details-container {
    width: min(100%, 28em);
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 2.5em;
}

button {
    font-size: 1.1em;
    padding: .6em;  
}

.flat:hover {
    color:var(--accent-light);
}

.raised:hover{
    cursor: default;
}

.raised {
    box-shadow: 0px 5px 6px 2px rgba(0, 0, 0, 0.295); 
    background-color: white;
    transition: background-color .5s, box-shadow .5s;
}

.flat {
    background-color: rgba(0, 0, 0, 0.075);
    color:rgb(92, 92, 92)
}

app-carousel {
    padding: 7px;
    width: 100%;
    height: 56.25vw;
    box-sizing: border-box;
}

@media screen and (min-width: 1150px) {
    #favorites-container {
        font-size: 17px;
        margin: auto auto;
    }
    #left-container{
       width: 35%;
       box-sizing: border-box;
    }
    app-carousel {
        width: 65%;
        height: calc(.5625 * 65vw);
    }
    #details-container {
        margin-bottom: 0px;
        width: min(100%, 22em);
    }
}

@media screen and (min-width: 1500px) {
    app-carousel {
        width: 65%;
        height: calc(.65 * 1300px * .56);
    }
}