.carousel {
  position: relative;
  display: flex;
  width:100%;
  height:100%;
  justify-content: center;
  align-items: center;
}

.carousel-item {
  width:100%;
  height:100%;
  object-fit: cover;
  z-index: 25;
}

.control {
  background-color: transparent;
  position: absolute;
  border: none;
  outline: 0; 
  height: 100%;
  width:15%;
  cursor: pointer;
  color: white;
  z-index: 50;
}

.control.next{
  right:0;
}

.control.prev{
  left:0;
}
  
.arrow {
  opacity: .6;
  font-weight: bold;
  display: inline-block;
  border-left: 0.1em solid white;
  border-bottom: 0.1em solid white;
  font-size: 3em;
  width: 2.5vw;
  height: 2.5vw;
}

.control:hover .arrow {
  width: 3vw;
  height: 3vw;
  font-size:4em;
  opacity: 1;
}

.arrow.left {
  transform: rotate(45deg);
}

.arrow.right {
    transform: rotate(225deg);
}

#image-buttons-container {
  display:flex;
  flex-direction: row;
  position: absolute;
  bottom:5%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}

.image-select-button{
  height:20px;
  width:20px;
  border-radius: 50%;
  background-color: white;
  margin-right:10px;
  margin-left: 10px;
  border-color:transparent;
  cursor: pointer; 
}

.blue-button{
  background-color: rgb(47, 93, 128);
}

.blue-button:hover {
  cursor: default;
}

.white-button{
  background-color: white;
}

.white-button:hover {
  transform: scale(1.2);
}