#promotion {
    margin:auto;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.hidden {
    visibility: hidden;
}

#buttonsContainer{
    min-width:120px;
    min-height:30px;
    height:10vw;
    width:40vw;
    max-height: min(100px, 6vh);
    max-width: min(400px, 24vh);
    display: flex;
    flex-wrap: nowrap;
}

button {
    cursor: pointer;
    background-size: cover;
    height:100%;
    width:25%;
    border-style: none;
    background-color: transparent;
}    

img {
    object-fit: contain;
    height:100%;
    width: 100%;
    display: block;
}
  

button:hover {
    background-color: rgb(60, 118, 167);
}

